.ContainerStyles,
.ButtonStyles {
    width: 80%;
    margin-bottom: 20px;
    height: 50px;
}
.ButtonStyles {
    background-color: var(--basic-color2);
    color: var(--basic-color3);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.IconStyle{
    color: var(--basic-color1);
}
