.ContainerStyles {
    width: 80%;
    margin-bottom: 20px;
    height: 50px;
}
.InputStyles{
    background-color: #dcdcdc;
}
.IconStyle,
.AfterIcon {
    font-size: 1.2rem;
    color: var(--basic-color1);
}
.ButtonContainer {
    width: 80%;
    background-color: var(--basic-color2);
    color: var(--basic-color3);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.ProfileContainer {
    border: 1px solid var(--basic-color1);
    background-color: transparent;
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.IconBefore {
    font-size: 1.5rem;
}
.ForgotContainer {
    width: 80%;
    background-color: transparent;
}
.ForgotContainer:hover{
    text-decoration: underline;
}